<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bgapp-navbar-secondary shadow border-0">
            <div class="card-header bg-white">
              <div class="text-muted text-center">
                <h2 class="mb-0">My Backyard Lab</h2>
              </div>
              <div class="btn-wrapper text-center">
                <img src="assets\img\mybackyardlab\login\school.svg" height="80" width="80" alt="">
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-3">
              <div class="text-center text-muted mb-4">
                <h5>Sign In</h5>
              </div>
              <form role="form" #loginForm="ngForm">
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control"
                           placeholder="Email"
                           type="email"
                           required
                           name="email"
                           #email="ngModel"
                           [(ngModel)]="stu_email"
                           (focus)="focus=true"
                           (blur)="focus=false">
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control"
                           placeholder="Password"
                           type="password"
                           required
                           name="password"
                           #password="ngModel"
                           [(ngModel)]="stu_password"
                           (focus)="focus1=true"
                           (blur)="focus1=false">
                  </div>
                </div>
                <div class="text-center">
                  <button type="button"
                          class="btn btn-primary my-4"
                          [disabled]="!loginForm.form.valid"
                          (click)="onSignIn()">Sign in</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
