<div class="row">
    <div class="col-lg-12">
        <div class="navbar navbar-expand-lg navbar-dark bg-info">
            <button class="btn btn-icon btn-3 btn-warning"
                    type="button"
                    (click)="onDashboard()">
                <span class="btn-inner--icon"><i class="fa fa-backward"></i></span>
                <span class="btn-inner--text">Dashboard</span>
            </button>
            <div class="mx-auto">
                <a class="navbar-brand text-white" >M4 | L1</a>
                <a class="navbar-brand text-white" >
                    <img src="assets/img/mybackyardlab/question-type-img/q3-type-title.svg" height="50" width="50">
                </a>
                <a class="navbar-brand text-white" >Count By Ten</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 my-3">
        <div class="card shadow border-0">
            <div class="card-body">
                <p class="lead">
                    Rose drew 3 pictures and willie drew 4 pictures. How many pictures did they draw all together?
                </p>
                <div class="row px-3">
                    <div class="col-lg-2 border py-3">
                        <img class="mx-3" height="30" width="30" src="assets/img/mybackyardlab/empty-circle.svg" alt="">
                        <img class="mx-3" height="30" width="30" src="assets/img/mybackyardlab/filled-circle.svg" alt="">
                    </div>
                    <div class="col-lg-5 border">

                    </div>
                    <div class="col-lg-5 border">

                    </div>
                </div>
                <div class="row">
                    <div class="my-3 col-lg-12">
                        <span class="lead d-inline mr-3">They drew</span>
                        <input style="width: 150px" class="mr-3 d-inline form-control" type="number" placeholder="Total" />
                        <span class="lead d-inline">Pictures</span>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-lg-4">
                        <button class="btn btn-3 btn-success pull-right"
                                type="button"
                                (click)="onDashboard()">
                            <span class="btn-inner--text">Submit</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
