<app-navbar></app-navbar>
<div style="margin-top: 87px;" class="py-5 bg-secondary">
    <div class="container">
        <!-- Inputs (alternative) -->
        <div class="mb-3">
            <h2 class="display-3">Hey, Dhwani</h2>
            <h3 class="display-4">Math</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="card card-lift--hover shadow border-0">
                    <div class="card-body py-5">
                        <div class="mb-4">
                            <img src="assets/img/mybackyardlab/question-type-img/q1-type-title.svg" height="50" width="50">
                        </div>
                        <h6 class="text-primary text-uppercase">Math Chat</h6>
                        <p class="description mt-3">Count by Ten</p>
                        <p class="description mt-3">Argon is a great free UI package based on Angular that includes the most important components and features.</p>
                        <a class="btn btn-primary text-white mt-4" >
                            <span>Start</span>
                            <span class="btn-inner--icon">
                                <i class="fa fa-play ml-2"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card card-lift--hover shadow border-0">
                    <div class="card-body py-5">
                        <div class="mb-4">
                            <img src="assets/img/mybackyardlab/question-type-img/q2-type-title.svg" height="50" width="50">
                        </div>
                        <h6 class="text-primary text-uppercase">Blast</h6>
                        <p class="description mt-3">Blast</p>
                        <p class="description mt-3">Argon is a great free UI package based on Angular that includes the most important components and features.</p>
                        <a class="btn btn-primary text-white mt-4" >
                            <span>Start</span>
                            <span class="btn-inner--icon">
                                <i class="fa fa-play ml-2"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card card-lift--hover shadow border-0">
                    <div class="card-body py-5">
                        <div class="mb-4">
                            <img src="assets/img/mybackyardlab/question-type-img/q5-type-title.svg" height="50" width="50">
                        </div>
                        <h6 class="text-primary text-uppercase">Number gym</h6>
                        <p class="description mt-3">Counting Train</p>
                        <p class="description mt-3">Argon is a great free UI package based on Angular that includes the most important components and features.</p>
                        <a class="btn btn-primary text-white mt-4" >
                            <span>Start</span>
                            <span class="btn-inner--icon">
                                <i class="fa fa-play ml-2"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
